@keyframes spin {
  from {transform: rotate(-10deg);}
  to {transform: rotate(20deg);}
}

.sidebar a {
	font-size: 100%;
	font-family: inherit;
	color: inherit;
	font-weight: 800;
	border: 0px;
	padding: 10px;
	background: var(--main-dark);
	border-radius: 6px;
	transition: 0.2s;
	text-decoration: none;
}

.sidebar a:hover {
	background: var(--button-hover);
}

.sidebar {
	position: fixed;
	float: left;
	background: var(--main-lighter);
	width: var(--sidebar-width);
	overflow-y: scroll;
	top: 0;
	bottom: 0;
	left: 0;
}

.sidebar .started {
	background: var(--button-visited);
}

.sidebar .finished {
	background: var(--button-finished);
}

.sidebar-connectors {
	width: 1%;
	background: blue;
	float: left;
	margin: 10px 12px 10px 12px;
}

.sidebar-connector {
	width: 100%;
	height: 36px;
	background: var(--main-text);
}

.sidebar-connector-spacer-in-section {
	width: 100%;
	height: 20px;
	background: var(--main-text);
}

.sidebar-connector-spacer-between-section {
	width: 100%;
	height: 20px;
	background: var(--main-lighter                                                                                                                                                                                                   );
}

.content {
	margin-left: var(--sidebar-width);
	float: left;
	text-align: justify;
}

.content > * {
	margin: 20px;
}

.sidebar > #lessons, .lesson-sidebar-title {
	margin: 14px;
}

.sidebar > div {
	line-height: 3.5;
}

#progChart {
	width: 200px;
	height: 200px;
}


.mascot {
	transform: rotate(-10deg);
	animation-name: spin;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

.mascotBubbleDiv {
	background-color: var(--button-finished); 
	border-radius: 25px 25px 25px 0px; 
	font-family: 'Comic Sans MS';
}

.message {
	padding-right: 20px; 
	padding-left: 20px; 
	padding-top: 10px; 
	padding-bottom: 10px;
}
