.navbar > * {
	padding: 0;
	margin-left: 100px;
}

.content {
	text-align: center;
	width: 70%;
	margin: 10 auto;
}

#lessonPages {
	width: 100%;
}

.currentLesson iframe {
    width: 100%;
    height: 100vh;
    background: #fff;
}