:root {
	--main-dark: #141626;
	--main-text: #EAEAEA;
	--main-lighter: #1C2035;
}

body {
	font-family: "Helvetica Neue";
	font-weight: 400;
	background: var(--main-dark);
	color: var(--main-text);
	margin: 0 auto;
}

a {
	text-decoration: underline;
	cursor: pointer;
}